[submodule "practice-blog-project"]
	path = practice-blog-project
	url = ./card
[submodule "card"]
	path = card
	url = https://github.com/Akshay-Tarde/card.git
[submodule "practice-blog-post"]
	path = practice-blog-post
	url = https://github.com/Akshay-Tarde/practice-blog-post.git
